<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">    
	<head>
		<title> Login </title>

		<link  rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/stylesheets/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="/images/favicon.ico">

		<script src="/javascripts/ejs.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="/javascripts/login_validation.js"></script>     
	</head>

	<body>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class= "col-md-6 main">
					<form  id="login">
						<h1 style=color:#a18eb9> Login </h1>
						<div id="error-msg" class= "hidden">
						</div>
						<div>
							<input class="box" type="email" name="email" id="email" placeholder="Enter your E-Mail" required/><br>
							<i id="fa fa-envelope icon"class="fa fa-envelope icon"> </i>
						</div>

						<div>
							<input class="box" type="password" name="password" id="password" placeholder="Enter your password" required/><br>
							<i id= "fa fa-key icon" class="fa fa-key icon"> </i> 	
						</div>	

						<br>
						<input type="submit" id="LoginDetails" name="LoginDetails" value="Login"/><br>
					</form>
					<p style="font-size:20px;color:#a18eb9">Aready have an account?<a href="/signup"> Signup here</a></p>
				</div>
				<div class= "col-md-3">
				</div>
			</div>  
		</div>
	</body>
</html>         
