<html>
	<head>
		<title> Success </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="shortcut icon" href="/images/favicon.ico">

		<link rel="stylesheet"  href="/stylesheets/style.css">
	</head>
	<body>
		<script>
			setTimeout(function () {
				// after 2 seconds
				window.location = "/login";
			}, 5000)
		</script>		
		<br>
		<br>
		<br>
		<div class="container" >
			<div class="row">
				<div class="col-md-3">
				</div>
			<div class="col-md-6 main">
				<h1> Signup Successful <br> Congratulations!!</h1>
				<h2  style="font-size:20px;color:a18eb9"> You will be redirected to login Page in 5 seconds...</h2>
			</div>
			<div class="col-md-3">
			</div>
			</div>
		</div>
	</body>
</html>

